@charset "utf-8";








/*------------------------------------------------*/
/*------------------------------------------------*/
/*----- ADMIN DISPLAY DATABASE CONTENT TABLE -----*/
/*------------------------------------------------*/
/*------------------------------------------------*/
.OdacResourceSiteAllItemsContainer, .OdacResourceSiteAllItemsContainer a {
	width: 100%;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #666666;
	min-height: 22px;
	color: #333333;
	text-decoration: none;
  font-size: 10px;
  line-height: 1.0em;
}
.OdacResourceSiteAllItemsContainer:after, .OdacResourceSiteAllItemsContainer a:after {
  content: '';
  display: block;
  clear: both;
}
.OdacResourceSiteAllItemsContainerHighlightLinks a {
  color: #1CA7A9;
}

.OdacResourceSiteAllItemsContainerHeadings {
  font-size: 10px;
}

.OdacResourceSiteAllItemsContainerDimmed, .OdacResourceSiteAllItemsContainerDimmed a {
	color: #CCCCCC;
	text-decoration: none;
}

.OdacResourceSiteAllItemsColumn, .OdacResourceSiteAllItemsColumn a {
	float: left;
  height: auto;
	min-height: 22px;
  margin-left: 6px;
  text-decoration: none;
  word-wrap: break-word;
}



/*-----------------*/
/*-----------------*/
/*----- ADMIN -----*/
/*-----------------*/
/*-----------------*/

.OdacResourceSiteAdminPage {
  padding-right: 10px;
}


.OdacResourceSiteAdminPageSectionBox {
  border: 1px solid #ddd;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 6px;
}

.OdacResourceSiteAdminPageSectionBox h3 {
  margin-top: 0em;
}

.OdacResourceSiteAdminPageItemNote {
  margin-top: -8px;
  margin-bottom: 14px;
  color: #666;
}

/*----- FORM FIELDS -----*/
.OdacResourceSiteAdminPage label {
  display: block;    /*Cause newline after*/
}

.OdacResourceSiteAdminPage input[type="text"] {
  margin-bottom: 10px;
  display: block;    /*Cause newline after*/
  font-size: 16px;   /*min 16px for safari*/
}

.OdacResourceSiteAdminPage input[type="file"] {
  margin-bottom: 10px;
  display: block;    /*Cause newline after*/
  font-size: 16px;   /*min 16px for safari*/
}

.OdacResourceSiteAdminPage textarea {
  margin-bottom: 10px;
  display: block;    /*Cause newline after*/
  font-size: 16px;   /*min 16px for safari*/
}

.OdacResourceSiteAdminPage input[type="checkbox"] {
  display: inline-block;
}
.OdacResourceSiteAdminPage input[type="checkbox"] + label {
  display: inline-block;
  margin-bottom: 10px;
}

.OdacResourceSiteAdminPage select {
  border: 1px solid #f6f6f6;
  margin-bottom: 10px;
  padding: 2px;
  display: block;    /*Cause newline after*/
  font-size: 16px;   /*min 16px for safari*/
}


/*----- BUTTON -----*/
a.OdacResourceSiteAdminButton, a.OdacResourceSiteAdminButton:hover, a.OdacResourceSiteAdminButton:visited,
 input[type="submit"].OdacResourceSiteAdminButton {
  background-color: #007cba;
  border: 1px solid #007cba;
  border-radius: 3px 3px 3px 3px;
  display: inline-block;
  min-height: 20px;
  min-width: 80px;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 0px;
  margin-bottom: 8px;
  padding-top: 7px;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

 input[type="submit"].OdacResourceSiteAdminButton {
   padding-top: 2px;
   line-height: 16px;
   min-height: 34px;
}

/*----- Messages -----*/
.OdacResourceSiteAdminPageMessage {
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: left;
  font-weight: bold;
  color: #00B35F;
}


